<!DOCTYPE html>
<!-- refer: http://www.namemesh.com/ -->
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>:: Slideshare Downloader ::</title>

    <script data-cfasync="false" type="text/javascript">
        var FDUPA = FDUPA || {};
        FDUPA.q = FDUPA.q || [];
        FDUPA.q.push(['mark', 'firstbyte', (new Date).getTime()]);
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="p:domain_verify" content="e3fb51a684ac3c2596c65249ade202f7">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/css/ncommon.css" type="text/css">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="http://lipis.github.io/bootstrap-social/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="http://lipis.github.io/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css">

</head>

<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <script> alert("{{ message }}"); </script>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button-->
            <a class="navbar-brand" href="#">SlideShare-Download</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if session %}
                <li><a class="pad-17"\>Logout</a></li>
                {% else %}
                <li><a href="#LoginModal" class="pad-17" data-toggle="modal" data-target="#LoginModal">Login</a></li>
                {% endif %}
                <!-- Button trigger modal -->
            </ul>
        </div>
    </nav>
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                    로그인
                </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form role="form" action="/accounts/signin/" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                        </div>
                        <button type="button" class="btn btn-default" onclick="javascript:this.form.action='/accounts/signup/';this.form.submit()">Sign up</button>
                        <button type="submit" class="btn btn-default">Sign in</button>
                        <a class="btn btn-social btn-facebook" onclick="">
                            <span class="fa fa-facebook"></span> Sign in with Facebook
                        </a>
                    </form>


                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="content">
            <div id="main">
                <div class="row main">
                    <br>
                    <br>
                    <div class="row">
                        <h1 class="text-center hh1 col-md-10 col-md-offset-1">보고싶은 슬라이드의 Slideshare URL을 입력해 주세요.</h1>
                    </div>
                    <br>
                    <div class="row">
                        <!--p class="col-md-6 col-md-offset-3" id="stip" style="display: block;">
                            <b>http://</b> 를 붙여서 입력해 주세요.
                            <br /> ex) http://www.slideshare.net/stevescottsite/3-easy-steps-to-digitize-your-study-notes
                        </p-->
                        <form class="input-group input-group-lg col-md-6 col-md-offset-3" action="/" method="POST">
                            <input id="sinpt" autofocus="" name='url' placeholder="http://www.slideshare.net/stevescottsite/3-easy-steps-to-digitize-your-study-notes" type="text" class="form-control">
                            <span class="input-group-btn">
                            <button id="sbtn" class="btn btn-primary" type="submit">
                            Go
                            </button>
                            </span>
                        </form>
                    </div>
                    <br>
                    <div class="row">
                        <br />
                        <br />
                        <h2 class="text-center hh1 col-md-10 col-md-offset-1">6명의 사람들이 사용중이고, 20개의 슬라이드가 이 사이트를 통해 전달되었습니다. </h2>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="row col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail"><img src="/static/img/hacking.jpg" class="img-responsive"></div>
                        <div class="panel-body">
                            <p class="lead">해킹대회 리뷰 및 실전 해킹</p>
                            <p>토토등 2015 - 해킹 대회 리뷰 및 실전 해킹 - 임정원</p>

                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div id="footer" class="text-center">
        <hr>
        <p> © 2016 layer7.kr All rights reserved.</p>
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
        var show = 1;
    </script>
    <script type="text/javascript" src="/static/js/common.js"></script>
</body>

</html>
